body {
  font-family: "Roboto", sans-serif;
  background-color: #e7eef5;
}
.header {
  padding: 10px;
}
.weather-app {
  background-image: url(/images/bus\ 1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 2px black solid;
  max-width: 700px;
  margin: 30px auto;
  font-weight: 700px;
  line-height: 1.6;
}
.current-weather {
  margin-left: 10px;
  padding-top: 10px;
}
.today-forecast {
  margin-left: 40px;
}
.today-forecast strong {
  color: rgb(33, 33, 33);
  line-height: 1;
  font-weight: 400px;
}
#temperature {
  font-size: 30px;
}
.week-forecast {
  margin-left: 30px;
  text-align: center;
}
.weather-week-date {
  font-weight: bold;
  opacity: 0.5;
}
.weather-week-temperature-min {
  opacity: 0.5;
}
li {
  list-style: none;
}
li::first-letter {
  text-transform: capitalize;
}
.footer {
  margin-left: 30px;
}
.today-forecast .active {
  color: rgb(33, 33, 33);
  cursor: default;
}
.today-forecast .active:hover {
  text-decoration: none;
}
